* {
	font-family: sans-serif;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
h1,  h2 {
	text-align: center;
	margin-bottom: 20px;
}
.prod {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 18%;
	padding: 15px;
	border: 1px solid #f3f3f3;
}
.prod__img {
	position: relative;
	padding-top: 70%;
}
.prod__img img {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50%;
}
.prod__name {
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin: 20px 0 10px;
}
.prod__charact {
	margin-bottom: 10px;
}
.btn {
	background-color: #f03;
	color: #fff;
	font-size: 18px;
	padding: 15px 30px;
	cursor: pointer;
	border: 1px solid #f03;
	transition: all .3s ease;
	text-decoration: none;
}
.btn--transp {
	background-color: transparent;
	color: #f03;
}
.btn:hover {
	background-color: #ea345a;
	border-color: #ea345a;
}
.btn--transp:hover {
	color:  #fff;
}


.quantity {
	margin: 20px 0;
}

.quantity,
.minus, 
.plus {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.quantity * {
	height: 25px;	
}

.minus, 
.plus {
	-ms-align-items: center;
	align-items: center;
	width: 25px;
	padding: 0;
}

.quantity input {
	margin: 0 5px;
	width: 50px;
	text-align: center;
}

.cartTable {
	margin: 0 auto;
	border: none;
}

.cartTable th,
.cartTable td {
	padding: 15px 25px;
	text-align: center;
	border-spacing: 0;
}

.cartTable tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.cartTable .cartTable__total {
	text-align: right;
	font-weight: bold;
}

.cartTable .quantity {
	margin: 0;
}

.del {
	color: #f03;
	text-decoration: none;
}

#orderFormWrapper {
	display: none;
}

#orderForm {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 400px;
	margin: 0 auto;
}

#orderForm span {
	display: inline-block;
	position: absolute;
	left: -10px;
	top: 50%;
	transform: translate(-100%, -50%);
}
#orderForm label {
	position: relative;
	margin-bottom: 10px;
}
#orderForm input,
#orderForm textarea {
	border-radius: 3px;
	padding: 10px;
	width: 100%;
}
#orderForm input:not([type="submit"]) {
	border: 1px solid #e5eaed;
}
#orderForm [type="submit"] {
	background: linear-gradient(#42a1ec, #0070c9);
	border: 1px solid #07c;
	color: #fff;
}

.cart-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.cart-buttons .btn:not(:last-child) {
	margin-right: 15px;
}