* {
	font-family: sans-serif;
	box-sizing: border-box;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
}
.wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}
.prod {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	width: 18%;
	padding: 15px;
	border: 1px solid #f3f3f3;
}
.prod__img {
	position: relative;
	padding-top: 70%;
}
.prod__img img {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50%;
}
.prod__name {
	display: block;
	font-size: 24px;
	font-weight: 600;
	margin: 20px 0 10px;
}
.prod__charact {
	margin-bottom: 10px;
}
button {
	background-color: #f03;
	color: #fff;
	font-size: 18px;
	padding: 15px 30px;
	cursor: pointer;
	border: none;
}
button:hover {
	background-color: #ea345a;
}


.quantity {
	margin: 20px 0;
}

.quantity,
.minus, 
.plus {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.quantity * {
	height: 25px;	
}

.minus, 
.plus {
	-ms-align-items: center;
	align-items: center;
	width: 25px;
	padding: 0;
}

.quantity input {
	margin: 0 5px;
	width: 50px;
	text-align: center;
}

.cartTable {
	margin: 0 auto;
	border: none;
}

.cartTable th,
.cartTable td {
	padding: 15px 25px;
	text-align: center;
	border-spacing: 0;
}

.cartTable tr:nth-child(odd) {
	background-color: #f3f3f3;
}

.cartTable .cartTable__total {
	text-align: right;
	font-weight: bold;
}

.cartTable .quantity {
	margin: 0;
}

.del {
	color: #f03;
	text-decoration: none;
}

